form {
    @include padding_margin;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 500px;
    @include padding_margin($padding: 6px, $margin: 6px);
}

legend {
    color: $tertiary-color;
    background-color: $primary-color;
    @include padding_margin($padding: 6px, $margin: 6px);
    border: none;
}

input {
    @include padding_margin($padding: 6px, $margin: 6px);
    border-color: $primary-color;
    border-width: 1px;
    outline: none;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group-button {
    display: flex;
    justify-content: center;

}

input[type=submit] {

    background-color: $primary-color;
    color: $tertiary-color;
    border: none;
}

input[type=submit]:hover {
    transform: scale(.95);
}