<ul>
    <li>
        <div class="list">

            <p>Tenant</p>
            <ul>
                <li><a href="/tenant/add">Add</a></li>
                <li><a href="/tenant/view">View</a></li>
            </ul>
    </li>
</ul>


<!-- <ul>
    <li>
        <div class="list">
            <div class="list-text">
                <p>Tenant</p>
                <i class="fa-solid fa-chevron-down" id="item1"></i>
            </div>
            <div class="hide list-menu">
                <ul>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">View</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul> -->